<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    {{> header}}

    <div class="row d-flex justify-content-center">
        <div class="col-sm-4">
            <form class="d-flex" role="search" id="searchForm">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" id="weatherSearch">
                <button class="btn btn-outline-success" type="submit" id="search">Search</button>
                </form>
        </div>
    </div>
    <br><br>
    <div class="row d-flex justify-content-center">
        <div class="col-lg-4" id="weatherData">
            
        </div>
    </div>

    {{> footer}}
    <script src="/js/app.js"></script>
</body>
</html>